body{
    font-family: 'Vesper Libre', 'Times New Roman', serif;
    color: #1a1a1a;
    line-height: 1.5;
    margin: 0;
}
header,footer{
    background-color: #000;
    color:#fff;
    text-align: center;
}
figure > img{
    width: 100%;
}

#logo{
    width: 100px;
    padding-top: 8px;
}

main{
    padding:20px;
}

h1{
    font-size: 2rem;
    line-height: 1.3;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.news{
    display:inline-block;
    text-transform: uppercase;
    font-size: .85rem;
    border-bottom: 2px solid #ff3530;
}

figcaption, .news, #author, #sub-title, h2 {
    font-family: 'Open Sans', sans-serif;
}

#author{
    font-size: .85rem;
    margin-bottom: 0;
}
figure{
    margin:1.25em 0;
}
figcaption{
    font-size: .75rem;
    text-align: center;
    color: #757575;
    font-style: italic;
}
li{
    list-style-type: none;
    padding-left: 0;
}
a{
    color: #1a1a1a;
}

a:default{
    text-decoration: underline;
}

a:hover{
    text-decoration: none;
    color: #ff3530;
}